*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*  */
.button_all{
    font-size: 15px;
    font-weight: 500;
    padding: 20px 35px;
    background-image: linear-gradient( to right , #f55f8d 0,#f8ae56 51%,#f55f8d 100% );
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200%;
}
.button_all:hover{
    background-position: right;

}
/*  */

.header{
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}
.header_container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}
.header_content{
    display: flex;
    align-items: center;
}
.header_content .content_list{
    display: flex;
}
.header_content .content_list li{
    display: flex;
    display:flex;
    padding-right: 30px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.header_content .content_list li:hover{
    color: #f55f8d;
}

.header_content .content_list p{
    padding-right: 4px;
}

.header_content .content_list li:hover p{
    animation-name: kay-one;
    animation-duration: 0.3s;
}
@keyframes kay-one {
    from{
        transform: translateY(-20px);
        opacity: 1;
    }
    to{
        transform: translateY(15px);
        opacity: 0;
    }
    
}
/*  */

.banner{
    background-image: url(./Samar/pic2.png);
    background-position:center top ;
    background-size:100%;
    width: 100%;
    padding-top: 180px;
}
.banner_container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.banner_title{
    width: 60%;
    margin-top: 60px;

}

.banner_title h4{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    animation-name: banner-h4;
    animation-duration: 1.5s;
    
}

.banner_title h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin: 20px 0px;
    animation-name: banner-h1;
    animation-duration: 3s;
    
    
}
.banner_title #banner_p{
    font-size: 18px;
    font-weight: 400;
    color: #636363;
    padding-bottom: 10px;
    animation-name: banner-p;
    animation-duration: 4.6s;


}

.banner_title .title_content{
    margin-top: 8px;
    display: flex;
    align-items: center;
    animation-name: banner-p;
    animation-duration: 6.4s;
}

.banner_title .title_logo{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: white;
    border-radius: 50%;
    font-weight: 900;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}
.banner_title .title_content p{
    font-size: 20px;
    color: #636363;
}
.banner_button{
    margin-top: 25px;
    animation-name: banner-button;
    animation-duration: 7.5s;
}

.banner_img{
    width: 40%;
    animation-name: banner-img;
    animation-duration: 6.5S;
}
.banner_img img{
    width: 570px;
    margin-left: 50px;
    
}

/*  */
@keyframes banner-h4 {
    from{
        transform: translateY(70px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes banner-h1 {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    50%{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes banner-p {
    from{
        transform: translateY(70px);
        opacity: 0;
    }
    50%{
        transform: translateY(70px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes banner-content {
    from{
        transform: translateY(70px);
        opacity: 0;
    }
    50%{
        transform: translateY(70px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes banner-img{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    60%{
        transform: translateY(250px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes banner-button {
    from{
        transform: translateY(70px);
        opacity: 0;
    }
    60%{
        transform: translateY(70px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/*  */
/*  */

.activities{
    background-image: url(./Samar/bg2.png);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 20px;
}
.activities_container{
    padding-top: 120px;
    max-width: 1200px;
    margin: 0 auto;
}
.activities_title h4{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;

}
.activities_title h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin: 20px 0px;
}


.activities_content{
    display: flex;
    margin-top: 40px;
    justify-content: center;

}

.activities_content .content_list{
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    border-radius: 7px;
    background-color: white;
    transition: 0.5s;
}

.activities_content .content_list2{
    margin: 0px 30px;
}

.activities_content .content_list img{
    width: 215px;
    
}

.activities_content .content_list h2{
    font-weight: 700;
    font-size: 24px;
    color: black;
    margin: 15px 0;
}

.activities_content .content_list p{
    color:#636363;
    font-weight: 400;
    line-height: 24px;
}

.activities_content .content_list:hover{
    transform: translateY(-20px);
    
}


/*  */
/*  */

.contact{
    background-image: url(./Samar/bg15.png);
    background-size: 100%;
    background-position:top center ;
    background-repeat: no-repeat;
    height: 820px;
    padding-top: 80px;
    margin-bottom: 50px;

}
.contact_container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    height: 100% ;
}

.contact_title{
    position: absolute;
    left: 50%;
    animation-name: contact-title;
    animation-duration: 2s;


}
.contact_title h4{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
}
.contact_title h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin: 20px 0px;
}

.contact_list{
    padding-bottom: 25px;
}

.contact_list .list_one{
    display: flex;
    margin: 15px 0px;
    align-items: center;
}

.contact_list .list_icon{
    border: 2px solid #f55f8d;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #f55f8d;
    border-radius: 50%;
    margin-right: 5px;
}

.contact_img{
    width: 60%;
    position: relative;
    left: -17%;
    top: 90px;
    animation-name: contact-img;
    animation-duration: 2s;
}
.contact_img img{
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    height: 480px;

}

@keyframes contact-img {
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0);
    }
    
}
@keyframes contact-title {
    from{
        transform: translateX(800px);
    }
    to{
        transform: translateX(0);
    }
    
}

/*  */
/*  */

.number{
    background-image: url(./Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0px 50px;
}

.number_container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}
.number_list{
    width: 25%;
    text-align: center;
}
.number_list i{
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number_list h2{
    font-size: 60px;
    font-weight: 700;
    color: #f55f8d;
}
.number_list p{
    color: black;
    font-size: 18px;
}


/*  */
/*  */
.features{
    background-image: url(./Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}
.features_container{
    display: flex;
    padding-top: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.features_title{
    width: 50%;

}
.features_title .features-h4{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    animation-name: contact-img;
    animation-duration: 1.5s;
}
.features_title h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin: 20px 0px;
    animation-name: contact-img;
    animation-duration: 1.5s; 
}

.features_title .list_between{
    margin: 20px 0px;
    margin-left: 50px ;
}

.features_title .title_list{
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 20%);
    padding:45px 30px ;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    width: 550px;
    animation-name: feature-list;
    animation-duration: 1.5s;
    
}

.features_title .title_list i{
    font-size: 80px;
    color: #f55f8d;
}

.features_title .title_list .list{
    padding-left: 25px;
}
.features_title .title_list h4{
    font-weight: 800;
    color: #262626;
    font-size: 24px;
}

.features_title .title_list p{
    color: #636363;
    margin-top: 10px;
}







.features_img{
    width: 700PX;
    margin-right: -80px;
    animation-name: feature-img;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
   
}
.features_img img{
    max-width: 100%;
    
}

@keyframes feature-img {
    from{
        transform: rotate(1deg);
    }
    
    50%{
        transform: rotate(-1deg);
    }
    to{
        transform: rotate(1deg);
    }
}

@keyframes feature-list {
    from{
        transform: translateX(500px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
    
}



.features_title .title_list:hover{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;

}
.features_title .title_list:hover i , .features_title .title_list:hover .list h4 , .features_title .title_list:hover .list p{
    color: white;
}

/*  */
.portfolio{
    padding: 150px 0px;
    background-image: url(./Samar/bg17.png) ;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.portfolio_container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.portfolio_title h4{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
}
.portfolio_title h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin: 20px 0px;
}

.portfolio_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1.6fr;
    gap: 30px;


}




.portfolio_list .list_img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    
}

.portfolio_list .list_img::before{
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 100%);
    transition: 1s;
    transform: skewX(-25deg);
}
    



.portfolio_list .list_one{
    grid-column: 1/3;

}
.portfolio_list .list_two{
    grid-row: 2/4;
    grid-column: 3/4;
}

.portfolio_list .list_three{
    grid-column: 1/3;
    grid-row: 3/4;
}

.portfolio_list img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}


.icon_logo h4{
    font-size: 22px;
    font-weight: 800
}
.portfolio_list .list_img .list_icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
}

.portfolio_list .icon_logo{
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: white;
    text-align: left;
    transition: 1.5s;
    
    
}



.portfolio_list .icon{
    position: absolute ;
    top: 0px;
    right: 0px;
    font-size: 28px;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transition: 1.5s;
    cursor: pointer;
}


.portfolio_list .one{
    animation-name: portfolio-img;
    animation-duration: 1.5s;
}
.portfolio_list .two{
    animation-name: portfolio-img ;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
}

.portfolio_list .three{
    animation-name: portfolio-img ;
    animation-duration: 1.5s;
    animation-delay: 3s;
}



/*  */
.portfolio_list .list_img:hover .list_icon{
    opacity: 1;
}
.portfolio_list .list_img:hover .list_icon .icon{
    transform: translateX(-20px) translateY(20px); 
}
.portfolio_list .list_img:hover .list_icon .icon_logo{
    transform: translateY(-25px);
}
.portfolio_list .list_img:hover::before{
    left: 170%;
}

@keyframes portfolio-img{
    from{
        transform: translateY(400px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}




/*  */
.choose{
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-bottom:100px ;
}

.choose_container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.choose_title h4{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.choose_title h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.choose_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.choose_list .list_item{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 0 50px rgb(0 0 0 / 10%);
}

.choose_list .list_item h3{
    font-size: 30px ;
    font-weight: 700;

}

.choose_list .list_item img{
    width: 125px;
}

.choose_list .list_item p{
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.choose_list .list_item .one{
    font-size: 50px;
    color: #f8ae56;
    font-weight: 800;
}

.choose_list .list_item hr{
    width: 100%;
    height: 1px;
    background-color: rgba(159, 157, 157, 0.5);
    border: none;
    
}

.choose_list .list_item li{
    margin-top: 20px;
    list-style: none;
    text-align: left;

}

.choose_list .list_item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #fbe1e8;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}

.choose_list .choose_button{
    margin-top: 20px;
}

.choose_list .list_item:hover{
    border-image: url(./Samar/br.png) 1 round;
}


/*  */
/*  */
.blog{
    background-image: url(./Samar/bg16.png);
    background-size: 100%;
    background-position: top center;
    padding-bottom: 100px;
}
.blog_container{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.blog_title h4{
    font-size: 22px;
    color: #f55f8d;
}
.blog_title h1{
    font-size: 70px;
    font-weight: 800;
    margin: 20px 0px;

}

.blog_list{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    
    
}
.blog_list .list_item{
    background: rgba(245,95,141,.1);
    border-radius: 8px;
    margin: 0px 15px;
    text-align: left;
}
.blog_list .list_item .item_img{
    position: relative;
    width: 100%;
}

.blog_list .list_item .item_img img{
    width: 100%;
    border-radius: 8px;

}
.blog_list .list_item .item_img p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog_list .list_item .item_title{
    padding: 30px 15px 20px 15px;
    margin-bottom: 20px;
}
.blog_list .list_item .item_title h3{
    font-size: 25px;
    font-weight: 700;
}
.blog_list .list_item .item_title p{
    color: #636363;
    padding: 10px 0px;
}
.blog_list .list_item hr{
    width: 100%;
    height: 1px;
    background-color: rgba(178, 167, 167 , 0.5);
    border: none;
}

.blog_list .list_item .item_last{
    display: flex;
}
.blog_list .list_item .item_last {
    font-weight: 400;
    font-size: 14px;
    padding: 15px;
}
.blog_list .list_item .item_last i , .blog_list .list_item .item_last span{
    color: #f55f8d;
    
}
.blog_one{
    padding-right: 20px;
}
.blog_list .list_item .item_last .blog_two i{
    font-size: 8px;
    width: 18px;
    height: 14px;
    border: 1.5px solid #f55f8d;
    text-align: center;
    line-height: 12px;
}


/*  */
/*  */
/*  */

.footer{
    background-image: url(./Samar/bg4.png);
    background-position: center;
    background-size: contain;
    background-color: #0e1b1f;
    background-repeat: no-repeat;
    color: white;
    font-size: 15px;
    position: relative;
    margin-top: 100px;
    
}

.footer::before{
    content: "";
    background-image: url(./Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer_container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_head{
    padding: 50px 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    position: relative;
    animation-name: f-title;
    animation-duration: 1s;
    
}
.footer_head h3{
    width: 50%;
    font-size: 28px;
    color: #262626;
}


.footer_head input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: white;
    border-radius: 8px 0 0 8px;
    border: 2px solid white;
    width: 40%;
    transition: 0.5s;
}

.footer_head input:hover{
    border-color: #f55f8d;
}

.footer_head button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    border-color: transparent;
}

.footer_head button:hover{
    background-position: right center;
    
}

.footer_list{
    display: flex;
    padding: 70px 0;
    animation-name: f-list;
    animation-duration: 3s;
}

.footer_list .list_content{
    width: 25%;
    position: relative;
}

.footer_list .list_content li{
    display: flex;
    padding: 10px 0px;
    align-items: center;
}

.footer_list .list_content .list_icon  i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer_list .list_content h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: white;
    position: relative;

}

.footer_list .list_content h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer_list .list_content h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 4px;
    width: 45px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}






.footer_list .list_content .content_icon li{
    color: #636363;
    font-size: 16px;
    cursor: pointer;
    
}
.footer_list .list_content .content_icon li:hover {
    color:white;
}



.footer_list .list_content .content_icon li{
    list-style: none;
    
    
}

.footer_list .list_content .content_icon i{
    padding-right: 10px;
}





/*  */

.footer_botom{
    background-color: #1f343b;
    padding: 10px 0px;
    position: relative;
    height: 50px;
    z-index: 100%;

}
.footer_botom .botom_list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    height: 50px;
    padding-bottom: 25px;
    
}

.footer_botom span{
    color: #f55f8d;
    padding: 0px 5px;
}

.footer_botom .footer_icon a{
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color:white;
    background-color: rgba(255,255,255,.1);
    transition: 0.5s;
}

.footer_botom .footer_icon a:hover{
    color: #f55f8d;
    
}



@keyframes f-title {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes f-list {
    from{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}

/*  */
/*  */
.Testimonial{
    background-image:url(./Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}

.Testimonial_container{
    text-align: center;
    width: 100%;
    max-width: 1200px;
}
.Testimonial_title h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.Testimonial_title h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.Testimonial_content{
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}
.Testimonial_content img{
        width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}
.Testimonial_container .content_img{
    position: relative;
}

.Testimonial_container .content_img::before {
    content: "";
    position: absolute;
    top: 20px;
    background-color: #f55f8d;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    bottom: 30px;
    position: absolute;
    transform: translateX(-50%);
    opacity: 1;
}

.Testimonial_comment{
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    max-width: 770px;
    position: relative;
}

.Testimonial_comment i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
}
.Testimonial_comment h3{
    font-size: 22px;
    font-weight: 800;
    color: black;
    line-height: 26px;
    margin-bottom: 10px;
}
.Testimonial_comment h4{
    font-size: 18px;
    font-weight: 400;
    color: #f55f8d;
    margin-bottom: 20px;
    font-style: italic;
    padding: 0 15px 15px;
}

.Testimonial_comment p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
    color: #636363;
}

.load{
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    
}











